<h2 class="mb-4 mt-2">ClassName already exists! Please use another one next time!</h2>
<h4 class="mt-4">Would you like to return to the ClassPage?</h4>
<a asp-controller="SchoolClasses" asp-action="Index">Return to ClassPage</a>
