<h2 class="mb-4 mt-2">All students are connected to classes already!</h2>
<h4>Would you like to create a new user?</h4>
<a  asp-action="Create">Create new user </a>
<h4 class="mt-4" >Would you like to return to the StudentPage?</h4>
<a  asp-controller="SchoolClassStudents"  asp-action="Index">Return to Studentpage</a>
